@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    color: #000;
    background-color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: 0;
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5{
    font-weight: 400;
    margin: 0;
}

.container{
 max-width: 1440px;
 margin: 0 auto;
 padding: 0, clamp(16px, 6vw, 165px);
}

.header{
    position: relative;
    padding: 10px 0;
    background-color: #E1EDE6;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.nav__container{
    display: flex;
    align-items: center;
    gap: clamp(24px, 6vw, 60px);
}

.header__list{
    display: flex;
    gap: clamp(24px, 6vw, 60px);
    list-style: none;
}

