@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    color: #000;
    background-color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: 0;
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5{
    font-weight: 400;
    margin: 0;
}

.container{
 max-width: 1440px;
 margin: 0 auto;
 padding: 0, clamp(16px, 6vw, 165px);
}

.header{
    position: relative;
    padding: 10px 0;
    background-color: #E1EDE6;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.nav__container{
    display: flex;
    align-items: center;
    gap: clamp(24px, 6vw, 60px);
}

.header__list{
    display: flex;
    gap: clamp(24px, 6vw, 60px);
    list-style: none;
}

/*Main section*/
.bird{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(34px, 5vw, 165px);
}

.bird__container{
    flex: 1;
    max-width: 540px;
}

.bird__image{
    display: block;
    width: 100%;
    height: auto;
}

.text{
    flex: 1;
    max-width: 540px;
}

.text__title{
    font-weight: 500;
    font-size: (32px, 4vw, 60px);
}

.is-green{
    color: #598D66;
}

.text__subtitle{
    font-weight: 500;
    font-size: 18px;
    color: #86928B;
    margin-bottom: 20px;
}

.bird__btn{
    background-color: #fff;
    color: #598D66;
    border: 2px solid #598D66;
    padding: 20px 60px;
    margin-top: 60px;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s;
}

.bird__btn:hover{
    background: greenyellow;
    transform: scale(1.2);
}

/*Card*/
.cards .container{
    max-width: 1110px;
    margin: 0 auto;
}